html,
body {
  margin: 0px;
  height: 100%;
  background-color: white;
  font-family: "Space Grotesk", sans-serif;
  font-size: 12px;
}
a {text-decoration: none;}
ul,
li {
  list-style-type: none;

}

/*styling*/


#sidebar {
  grid-area: sidebar;
  overflow-y: scroll;
}
#content {
  grid-area: content;
}
.header {
  grid-area: header;
}
.footer {
  grid-area: footer;
}
.sideBarItem {
  max-height: 50px;
  max-width: 50px;
  padding: 5px;
     
}
.sideBarItem img {
  max-height: 50px;
  max-width: 50px;
}
.colourPalette {
  grid-area: colourP;
  display: flex;
  flex-direction: grid;
  flex-flow: wrap;
}
.options {
  grid-area: options;
  padding: 15px;
}
.picker {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  max-height: 40px;
  max-width: 40px;
  margin: 5px;
}
.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 70px 230px minmax(500px, 1fr);
  grid-template-rows: 35px minmax(500px, 1fr) 160px;
  grid-template-areas: "header header header" "sidebar content content" "colourP colourP options";
  background-color: black;
  color: black;
}
.box {
  background-color: #FFCCE5;
  color:black;
  font-size: 150%;
}

/*
Gradient button styling
*/

.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 8px;
  text-align: justify-all;
  font-size: 12px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #000000;
  box-shadow: 0 0 15px #E5CCFF;
  border-radius: 50px;
}
.btn:hover {
  background-position: right center;
}
.btn {
  background: #E5CCFF;
}
.btn {
  background-image: linear-gradient(
    to right,
    #a1c4fd 0%,
    #c2e9fb 51%,
    #a1c4fd 100%
  );
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background: #E5CCFF;
}
::-webkit-scrollbar-thumb {
  background: #C1FFFF;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FFF8C1;
}

/*
Slider*/

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 20%;
  height: 12px;
  background: #C1FFFF;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 50px;
    
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #FF6ED9;
  cursor: pointer;
  border-radius: 50px;
}
.slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #FFC1EF;
  cursor: pointer;
}

/*
Output
*/

#output {
  font-size: 12px;
}

/*
Assorted icon styling
*/

#icon {
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
}
#shape_triangle {
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
  visibility: hidden;
}
#shape_ellipse {
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
  visibility: hidden;
}
#shape_rectangle {
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
  visibility: hidden;
}
#shape_heart {
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
  visibility: hidden;
}
.image {
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
  visibility: hidden;
}
.stamp {
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
  visibility: hidden;
}

/*
Shapes Button
*/

#shapes_btn {
  visibility: hidden;
}

/*
Crop Button
*/

#crop_btn {
  visibility: hidden;
}

/*
Horizontal  Buttons
*/


#horizontal_btn {
  visibility: hidden;
}

/*
Mini tool display
*/

.mini {
  width: 20px;
  height: 20px;
  background-size: 100% 100%;
}



hr.style-seven {
  overflow: visible;
  /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 18px;
}
hr.style-seven:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

/*
Media query to deal with small screens
*/

@media only screen and (max-width: 600px) {
  .btn {
    flex: 1 1 auto;
    margin: 5px;
    padding: 5px;
  }
}

/*
Media query to deal with large screens (> 4k)
*/

@media (min-width: 2000px) {
  body {
    width: 100%;
  }
}
